[submodule "Assets/ThirdParty/Mirror"]
	path = Assets/ThirdParty/Mirror
	url = https://github.com/LXShades/Mirror
	ignore = untracked
[submodule "Assets/ThirdParty/Ignorance"]
	path = Assets/ThirdParty/Ignorance
	url = https://github.com/SoftwareGuy/Ignorance
	ignore = untracked
[submodule "Assets/UnityMultiplayerEssentials"]
	path = Assets/ThirdParty/UnityMultiplayerEssentials
	url = https://github.com/LXShades/UnityMultiplayerEssentials
