[submodule "External/LXCommonMultiplayer"]
	path = External/LXCommonMultiplayer
	url = https://github.com/LXShades/LXCommonMultiplayer
[submodule "External/LXCommonCore"]
	path = External/LXCommonCore
	url = https://github.com/LXShades/LXCommonCore
