[submodule "ThirdParty/Ignorance"]
	path = ThirdParty/Ignorance
	url = https://github.com/SoftwareGuy/Ignorance
[submodule "ThirdParty/LXCommonMultiplayer"]
	path = ThirdParty/LXCommonMultiplayer
	url = https://github.com/LXShades/UnityMultiplayerEssentials
